# This is an example of a crontab file that executes the shell
# script containing the virtual environment & env variables.
# I run this program on a virtual machine in the cloud,
# so times are in UTC.
SHELL=/bin/bash

# Minute 0 of every hour from 7:00-18:00 CST, every day
0 13-23,0 * * * bash ~/path/to/script --hourly

# Every day at 19:00 CST
0 1 * * * bash ~/path/to/script --nightly