# This is an example of a crontab file that executes the shell
# script containing the virtual environment & env variables.
# I run this program on a virtual machine in the cloud,
# so times are in UTC.
SHELL=/bin/bash

# Minute 0 of every hour from 8:00-18:00 CST, every day
0 14-23,0 * * * bash ~/path/to/script.sh --hourly

# Every day at 7:00 am CST
0 13 * * * bash ~/path/to/script.sh --daily
